<!DOCTYPE html>
<html>
  <head>
    <h1>Add Editor</h1>
  </head>
  <body style='text-align:center'>
    <form method='post'>
    	Select the friend who will become an editor
    	<br>
      <select name='friend' id='populateEditorFriend'>
      </select>
      <br>
      <br>
      Select the schedule that you want your friend to have the ability to access
      <br>
      <select name='schedule' id='populateEditorSchedule'>
      	<br>
      	<br>
      </select>
      <input type='submit'>
    </form>
  </body>
</html>