<!DOCTYPE html>
<html>
  <head>
    <h1>Display Options</h1>
  </head>
  <p>Current display specification: <%= displayop %></p>
  <p>Please click one of the buttons below if you would like to change your schedule display options</p>

  <button id='timeOfCreationOrder'>Order by Creation Date</button>
  <br>
  <br>
  <button id='dateOrder'>Order by Date</button>
  <br>
  <br>
  <button id='priorityOrder'>Order by Priority</button>
  <br>
  <br>
  <button id='alphaOrder'>Order Alphabetically</button>
  <br>
  <br>
  <body style='text-align:center'>
    <script src='/js/jquery-1.11.3.min.js'></script>
    <script src='/js/displayops.js'></script>
  </body>
</html>
