<!DOCTYPE html>
<html>
  <head>
    <center>
    <h2>Welcome to the Schedule App, <%= username %><h2>
    </center>
  </head>
  <body>
    <table style='width:100%; height:550px; padding:20px'>
      <tr style='height:30px; text-align:center'>
        <td style='width:33%; border: 1px solid black'>
          <b>My schedules</b>
          <p>All your existing schedules are displayed below. Type the name of a schedule in the text box to make changes</p>
        </td>
        <td style='width:34%; border: 1px solid black'>
          <b>Schedules people shared with me</b>
          <p>All the schedules that other people shared with you are displayed below. Type in the name of the schedule and the name of the owner to open it</p>
        </td>
        <td style='width:33%; border: 1px solid black'>
          <b>People I am sharing my schedules with</b>
          <p>All the people who can view and edit your schedules are below. Type in the text box to make changes to this list of people</p>
        </td>
      </tr>
      <tr>
        <td style='border: 1px solid black; overflow:scroll'>
          <div style='width:100%; height:100%; overflow:scroll'>
            <% for(var i = 0; i < arrSchedules.length; i++) {%>
            <div id='schedule<%= i %>'><%= arrSchedules[i].name %></div>
            <% } %>
          <div>
        </td>
        <td style='border: 1px solid black; overflow:scroll'>
          <div style='width:100%; height:100%; overflow:scroll'>
            <% for(var i = 0; i < arrShared.length; i++) {%>
            <div id='shared<%= i %>'><%= arrShared[i].name %> owned by <%= arrShared[i].owner %></div>
            <% } %>
          <div>
        </td>
        <td style='border: 1px solid black; overflow:scroll'>
            <div style='width:100%; height:100%; overflow:scroll'>
            <% for(var i = 0; i < arrFriends.length; i++) {%>
            <div id='friend<%= i %>'><%= arrFriends[i] %></div>
            <% } %>
          <div>
        </td>
      </tr>
      <tr style='height:30px; text-align:center'>
        <td style='border: 1px solid black'>
          Schedule name: <input type='text' id='homeScheduleInput'/>
          <br>
          <button id='homeScheduleAdd'>Add Schedule</button>
          <button id='homeScheduleDelete'>Delete Schedule</button>
          <button id='homeScheduleOpen'>View Schedule</button>
        </td>
        <td style='border: 1px solid black'>
          Schedule name: <input type='text' id='homeSharedInput'/>
          <br>
          Owner name: <input type='text' id='homeSharedOwner'/>
          <br>
          <button id='homeSharedOpen'>View Schedule</button>
        </td>
        <td style='border: 1px solid black'>
          Person name: <input type='text' id='homeFriendInput'/>
          <br>
          <button id='homeFriendAdd'>Add Friend</button>
          <button id='homeFriendDelete'>Delete Friend</button>
        </td>
      </tr>
    </table>
    <center>
      <div>
        Current display specification: <%= displayop %>
        <br>
        Please click one of these buttons if you would like to change your schedule events display options
        <button id='dateOrder'>Order by Date</button>
        <button id='priorityOrder'>Order by Priority</button>
        <button id='alphaOrder'>Order Alphabetically</button>
      </div>
      <br>
      <a href='/logout'>Log out</a>
    </center>
    <script src='/js/jquery-1.11.3.min.js'></script>
    <script src='/js/home.js'></script>
  </body>
</html>