<!DOCTYPE html>
<html>
  <head>
    <center>
    <h1>Welcome to the Schedule App, <%= username %><h1>
    </center>
  </head>
  <body>
    <table style='width:100%; height:500px; padding:20px'>
      <tr style='height:30px; text-align:center'>
        <td style='width:33%; border: 1px solid black'>
          <b>My Schedules</b>
        </td>
        <td style='width:34%; border: 1px solid black'>
          <b>Schedules Shared With Me</b>
          <br>
          <a href='/addeditor'>Share My Schedules</a>
        </td>
        <td style='width:33%; border: 1px solid black'>
          <b>My Friends</b>
        </td>
      </tr>
      <tr>
        <td style='border: 1px solid black; overflow:scroll'>
          <div style='width:100%; height:100%; overflow:scroll'>
            <% for(var i = 0; i < arrSchedules.length; i++) {%>
            <div class='scheduleClickable' id='schedule<%= i %>'><%= arrSchedules[i].name %></div>
            <% } %>
          <div>
        </td>
        <td style='border: 1px solid black; overflow:scroll'>
          <div style='width:100%; height:100%; overflow:scroll'>
            <% for(var i = 0; i < arrShared.length; i++) {%>
            <div class='sharedClickable' id='shared<%= i %>'>This is element placeholder</div>
            <% } %>
          <div>
        </td>
        <td style='border: 1px solid black; overflow:scroll'>
            <div style='width:100%; height:100%; overflow:scroll'>
            <% for(var i = 0; i < arrFriends.length; i++) {%>
            <div id='friend<%= i %>'><%= arrFriends[i] %></div>
            <% } %>
          <div>
        </td>
      </tr>
      <tr style='height:30px; text-align:center'>
        <td style='border: 1px solid black'>
          <input type='text' id='homeScheduleInput'/>
          <br>
          <button id='homeScheduleAdd'>Add Schedule</button>
          <button id='homeScheduleDelete'>Delete Schedule</button>
          <button id='homeScheduleOpen'>View Schedule</button>
        </td>
        <td style='border: 1px solid black'>
          <input type='text' id='homeSharedInput'/>
          <br>
          <button id='homeSharedOpen'>View Schedule</button>
        </td>
        <td style='border: 1px solid black'>
          <input type='text' id='homeFriendInput'/>
          <br>
          <button id='homeFriendAdd'>Add Friend</button>
          <button id='homeFriendDelete'>Delete Friend</button>
        </td>
      </tr>
    </table>
    <center>
      <a href='/logout'>Log out</a>
    </center>
    <script src='/js/jquery-1.11.3.min.js'></script>
    <script src='/js/home.js'></script>
  </body>
</html>