<!DOCTYPE html>
<html>
  <head>
    <center>
    <h1>Welcome to the Schedule App, <%= username %><h1>
    </center>
  </head>
  <body>
    <table style='width:100%; height:500px; padding:20px'>
      <tr style='height:30px; text-align:center'>
        <td style='width:33%; border: 1px solid black'>
          <b>My Schedules</b>
        </td>
        <td style='width:34%; border: 1px solid black'>
          <b>Schedules Shared With Me</b>
        </td>
        <td style='width:33%; border: 1px solid black'>
          <b>My Friends</b>
        </td>
      </tr>
      <tr>
        <td id = 'populateSchedulesList' style='border: 1px solid black; overflow:scroll'>

        </td>
        <td id = 'populateSharedSchedules' style='border: 1px solid black; overflow:scroll'>

        </td>
        <td id = 'populateFriendsList' style='border: 1px solid black; overflow:scroll'>

        </td>
      </tr>
      <tr style='height:30px; text-align:center'>
        <td style='border: 1px solid black'>
          <a href='/addschedule'>Add Schedule</a>
        </td>
        <td style='border: 1px solid black'>
          
        </td>
        <td style='border: 1px solid black'>
          <a href='/addfriend'>Add Friend</a>
        </td>
      </tr>
    </table>
    <center>
      <a href='/logout'>Log out</a>
    </center>
  </body>
</html>