<!DOCTYPE html>
<html>
  <head>
  	<title>
    	Final Project - Scheduling App
  	</title>
  </head>
  <body>
    <table style="border: 1px solid black;width:100%">
      <tr style='background-color:green'>
        <td style="border: 1px solid black">
          <div id='scheduleName' style='width:70%; display: inline-block; font-size:200%; font-family: "Book Antiqua", Palatino, serif;'>
          Schedule Name Here
          </div>
          <div style='display: inline-block; float:right'>
          <form method='post'>
            <select name='userOption'>
              <option value="" disabled selected>Select Action</option>
              <option value='addEvent'>Add New Event to Schedule</option>
              <option value='changeDisplay'>Change Schedule Display Option</option>
              <option value='addEditor'>Add Viewer to Scedule</option>
              <option value='switchSchedule'>Switch Schedules</option>
              <option value='addFriend'>Add Friend</option>
            </select>
            <br>
            <input type='submit'>
          </form>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="scheduleBox" style="overflow:scroll; height:650px; text-align: center">
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            <h1 style='color:blue'>TODO: FIGURE OUT HOW TO RENDER</h1>
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>


            Schedule gets pulled from databse and goes here. 

            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>

            <h1>PROOF OF CONCEPT</h1>

            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
            text
            <br>
          </div>
        </td>
      </tr>
    </table>
  </body>
  
</html>
